<h1>Eat-Da-Burger</h1>

<h2>Burgers</h2>

<ul>
    {{#each burgers}}
        {{#unless eaten}}
            {{> burgers/burger-block eat=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
    {{#each burgers}}
        {{#if eaten}}
            {{> burgers/burger-block eaten=true}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-burger">
    <label for="burger">Burger</label>
    <input type="text" id="burger" name="burger">

    <button type="submit">Add Burger</button>
</form>